/* animations */
@keyframes fadeIn {
    0% { opacity: 1; }
    20% { opacity: 1;}
    40% { opacity: 0.8;}
    60% { opacity: 0.6;}
    80% { opacity: 0.4;}
    100% { opacity: 0; 
    }
}
/* memorize modal warning */
#memorizeModal{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: -2;
}
#modal{
    font-family: "ZCOOL KuaiLe";
    font-size: 4vw;
    line-height: 2rem;
    font-weight: 700;
    -webkit-text-fill-color: rgba(223, 14, 14);
    -webkit-text-stroke-color: rgba(223, 14, 14);
    -webkit-text-stroke-width: 0.5px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 20%;
}
/* container of cards */
#container{
    position: relative;
    left: -20%;
    top: 5%;
}
.card{
    width: 130px;
    height: 130px;
    position: absolute;
    border-radius: 10px;
    perspective: 600px;
    
}
.face{
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 10px;
    transition: all 1s;
    backface-visibility: hidden;
}
/* back face */
.back{
    background: url("../img/background.svg");
}
/* flipped back face */
.back.flipped{
    transform: rotateY(180deg);
}
/* front face */
.front{
    transform: rotateY(-180deg);
}
/* flipped front face */
.front.flipped{
    transform: rotateY(0deg);
}
/* hover of cards when passing the mouse by */
.card:hover{
    box-shadow: 0 0 10px rgb(28, 218, 176);
}
/* check symbol for matches */
#imgMatchSign{
    width: 100px;
    height: 100px;
    margin-left: 50%;
    position: relative;
    top: 250px;
    transition-property: top, opacity;
    transition-duration: 1.0s;
    opacity: 1;
    z-index: -1;
}
/* effect to hide pair of a match */
.pair{
    animation-name: fadeIn;
    animation-delay: 500ms;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

